.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 50px;
  border: 1px solid #f8f8fa;
  background-color: #f8f8fa;
  padding: 6px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .toggle-buttons {
    flex-direction: column;
    align-items: center;
  }

  .toggle-button {
    margin-bottom: 10px;
  }
}

.toggle-button {
  padding: 8px 16px;
  border: 1px solid #f8f8fa;
  border-radius: 12px;
  background-color: #f8f8fa;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.451);
  font-weight: 700;
  letter-spacing: 1px;
}

.toggle-button.active {
  background-color: #2850e7;
  color: #fff;
}

.toggle-button:hover {
  background-color: #2850e7;
  color: #fff;
}

.date-dropdown-container {
  width: 91%;
  padding-left: 65%;
  text-align: left;
}

.date-dropdown {
  padding: 8px 16px;
  border: 1px solid rgba(0, 0, 0, 0.199);
  border-radius: 10px;
  width: 26%;
  font-weight: 700;
}

.date-options {
  width: 28%;
  margin-left: 5px;
}

.date-option {
  padding: 8px 16px;
  border: 1px solid rgba(0, 0, 0, 0.199);
  border-radius: 10px;
  font-weight: 700;
  text-align: left;
  margin-top: 20px;
}

.date-dropdown .arrow-icon {
  margin-left: 250px;
}

.strategy-info {
  padding: 8px 16px;
  border: 1px solid rgba(0, 0, 0, 0.199);
  border-radius: 10px;
  font-weight: 700;
  margin: 20px;
  display: flex;
  justify-content: space-around;
}

.endtext {
  float: right;
  color: rgba(0, 0, 0, 0.36);
  font-weight: 700;
  font-size: 14px;
  margin-left: 150px;
}

.no-strategies {
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.boldtext {
  font-weight: 700;
}
